# common ignores
/tmp
/out-tsc
dist/

config/template.secrets.yaml

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

# IDE configuration files
.vscode/*
.idea/

# AI configuration files
.WARP.md
.bolt

# Docusaurus
.docusaurus/
build/
.DS_Store
